span.allergen {
    font-weight: bold;
}

div.barcodeScanner {
    width: 640px;
    height: 480px;
}

span.expiry-danger {
    color: red;
}

span.expiry-warning {
    color: orange;
}

// span.expiry-normal {
// }