psycopg2-binary==2.8.5
texttable==1.6.2
Unidecode==1.1.1
flask==1.1.2
python-slugify==4.0.1
sqlalchemy==1.4.11
bcrypt==3.1.7
celery==4.4.7
flask_mail==0.9.1
flask_migrate==2.5.3
git+https://github.com/maxcountryman/flask-uploads#egg=flask_uploads
sqlalchemy_searchable==1.2.0
redis==3.5.3
flask-accept==0.0.6
PyQRCode==1.2.1
flask-cors>=3.0.8
cachetools==4.1.1
flasgger==0.9.5
waitress==1.4.4
Flask-SQLAlchemy==2.4.4
git+https://github.com/jwag956/flask-security#egg=Flask-Security-too
openfoodfacts==0.1.1
barcodenumber==0.5.0
Flask_Babelex==0.9.4